default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username: <%= ENV['DATABASE_USERNAME'] || 'your_username_here' %>
  password: <%= ENV['DATABASE_PASSWORD'] || '' %>
  host: <%= ENV['DATABASE_HOST'] || 'localhost' %>

development:
  <<: *default
  database: catalogit_development

test:
  <<: *default
  database: catalogit_test

production:
  <<: *default
  database: catalogit_production
  username: catalogit
  password: <%= ENV["CATALOGIT_DATABASE_PASSWORD"] %>
